// color

$color-main: #D10B41;
$color-average: #323232;
$color-minimal: #F5F5F5;
$color-text: #202020;
$color-1: #4CC802;
$color-2: #78C800;
$color-3: #F1C340;
$color-4:#06AAF5;
$color-5: #BCBCBC;
$color-text-2: #181818;

// size

$sidebar-width: 180px;
$sidebar-close-width: 60px;
$size-h1: 32px;
$size-h2: 24px;
$width-desctop-optimal: 1980px;
$width-desctop-min: 1600px;
$width-laptop: 1400px;
$width-laptop-min: 1280px;
$width-netboock: 1180px;
$width-tablet: 1024px;
$width-mobile--w1: 1000px;
$width-mobile--w2: 800px;
$width-mobile--w3: 700px;
$width-mobile--w4: 600px;
$width-mobile--w5: 400px;
$height-mobile: 400px;

// border

$border-line: 1px solid rgba(32,32,32,.1);
$border-main: 3px solid rgba(32, 32, 32, 0.1);

// animation

$sidebar-time: .3s all ease-in-out;
